# Web framework
fastapi==0.115.6
uvicorn[standard]==0.32.1

# Base de datos
sqlalchemy==2.0.36
pymysql==1.1.1
cryptography==43.0.3

# Configuración
pydantic==2.10.3
pydantic-settings==2.6.1
email-validator==2.2.0
python-dotenv==1.0.1

# Autenticación
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Migraciones
alembic==1.14.0

# ML — predicción de demanda
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
joblib==1.4.2
